body{
    background-color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* .rotate-img{ */
    /* width:200px; */
    /* height:200px; */
   img{
    width: 250px;
    height: 250px;
    border-radius: 4px solid purple;
   
    animation: rotateImage 2s linear infinite;
}
img:hover{
    trasform: scale(1.2)
}
@keyframes rotateImage{
    0%{
        transform: rotate(0deg) scale(1);
    }
    /* 50%{ */
        /* transform: rotate(180deg) scale(1.2); */
    /* } */
    100%{
        transform: rotate(360deg) scale(1.2);
    }
}